html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    margin: 2vw;
    padding: 1vw;
}

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    font-size: 5.6rem;
    line-height: 56px;
    text-transform: uppercase;
    color: #162542;
    text-transform: uppercase;
}

h2 {
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 36px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 28px;
    text-transform: uppercase;
    color: #162542;
}

p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 26px;
    color: #7B8BAD;
    width: auto;
    height: auto;
}


/*VERY SMALL SCREEN*/

@media screen and (min-width: 320px) {
    .gray_box_1,
    .gray_box_2 {
        display: none;
    }
}


/*SMALL SCREENS */

@media screen and (min-width: 360px) {
    .gray_box_1,
    .gray_box_2 {
        display: none;
    }
    image {
        display: block;
    }
    .introductory-text-2 h2 {
        margin: 30px auto;
        display: block;
        text-align: justify;
    }
    .introductory-text-2 p {
        margin-top: 20px;
        align-self: center;
        justify-self: center;
        text-align: center;
    }
}


/*MEDIUM SCREENS*/

@media screen and (min-width: 768px) {
    .gray_box_1,
    .gray_box_2 {
        display: none;
    }
    .overlay-image {
        border-radius: 20px;
        width: 100%;
        height: auto;
        align-self: self-start;
        background-position: center;
        background-size: cover;
        background-image: url('/assets/tablet/image-phone-and-keyboard.jpg');
    }
    .overlay {
        background-color: rgba(255, 156, 98, 0.697);
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    .introductory-text-2 {
        display: flex;
        flex-direction: row;
        grid-column: 1 / 3;
    }
    .introductory-text-2 h2 {
        flex-grow: 1;
        text-align: start;
        justify-self: center;
        line-height: normal;
    }
    .introductory-text-2 p {
        margin-top: 20px;
        align-self: center;
        justify-self: center;
        text-align: justify;
    }
}


/*LARGE SCREEN*/


/*MEDIA QUERY FOR SCREENS SIZE WITH MIN-WIDTH 1280 AND MAX 0F 1440*/

@media screen and (min-width:1280px) {
    body {
        box-sizing: border-box;
        margin: 0;
    }
    .page-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
    .gray_box_1,
    .gray_box_2 {
        display: none;
    }
    /* MAIN */
    main {
        margin-top: 50px;
        display: flex;
        column-gap: 1em;
        align-items: center;
        justify-items: center;
    }
    .overlay-image {
        border-radius: 20px;
        width: 300px;
        height: 590px;
        align-self: self-start;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/assets/desktop/image-phone-and-keyboard.jpg');
    }
    .overlay {
        background-color: rgba(255, 156, 98, 0.697);
        width: 300px;
        height: 590px;
        border-radius: 20px;
    }
    .introductory-text-2 {
        display: block;
        align-self: center;
        justify-self: center;
        padding-right: 10px;
    }
    .glass-keyboard-img {
        width: 54.0rem;
        border-radius: 20px;
        margin-left: 0;
    }
    /* END MAIN */
    /* FEATURES */
    .keyboard-feature-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 100px;
    }
    /* END FEATURES */
}

@media screen and (min-width:1281px) {
    body {
        box-sizing: border-box;
        margin: 0;
    }
    .page-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
    /* HERO SECTION */
    section {
        position: relative;
    }
    .left-col {
        width: fit-content;
    }
    .orange-cta-button {
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #F16718;
        border: none;
        border-radius: 8px;
        font-size: 1.6rem;
        padding: 1em
    }
    .gray_box_1 {
        display: flex;
        width: 12.6em;
        height: 24.0em;
        background-color: #E8EFF2;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        position: absolute;
        right: -160px;
    }
    /* END HERO */
    /* MAIN */
    main {
        margin-top: 50px;
        display: flex;
        column-gap: 10em;
        align-items: center;
        position: relative;
    }
    .overlay-image {
        border-radius: 20px;
        width: 300px;
        height: 590px;
        align-self: self-start;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/assets/desktop/image-phone-and-keyboard.jpg');
    }
    .overlay {
        background-color: rgba(255, 156, 98, 0.697);
        width: 300px;
        height: 590px;
        border-radius: 20px;
    }
    .glass-keyboard-img {
        width: 54.0rem;
        border-radius: 20px;
        margin-left: 0;
    }
    .introductory-text-2 {
        display: block;
        align-self: center;
        justify-self: center;
    }
    .gray_box_2 {
        display: flex;
        width: 12.6em;
        height: 24.0em;
        align-self: flex-end;
        background-color: #E8EFF2;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;
        left: -160px;
    }
    /* END MAIN */
    /* FEATURES */
    .keyboard-feature-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 100px;
    }
    /* END FEATURES */
}


/*END*/