/* reset and typography */

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    margin: 2vw;
    padding: 1vw;
}

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    font-size: 5.6rem;
    line-height: 56px;
    text-transform: uppercase;
    color: #162542;
    text-transform: uppercase;
    text-align: left;
}

h2 {
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 36px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 28px;
    text-transform: uppercase;
    color: #162542;
    text-align: left;
}

p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 26px;
    color: #7B8BAD;
    width: auto;
    height: auto;
    text-align: left;
}


/*VERY SMALL SCREEN*/

@media screen and (max-width: 320px) {
    .gray_box_1,
    .gray_box_2 {
        display: none;
    }
    main {
        max-width: auto;
        margin-top: 4em;
        display: grid;
        grid-template-columns: 34% 64%;
    }
    .overlay-image {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-image: url('../assets/desktop/image-phone-and-keyboard.jpg');
        height: 100%;
    }
    .overlay {
        mix-blend-mode: multiply;
        background-color: rgb(189, 69, 0);
        opacity: 0.9;
        width: 100%;
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .introductory-text-2 h2 {
        margin-top: 45px;
        margin-left: 20px;
        text-align: justify;
    }
    .introductory-text-2 p {
        margin-top: 30px;
        text-align: center;
        margin-left: -10px;
    }
    h1 {
        text-align: justify;
        font-family: 'Barlow', sans-serif;
        font-weight: 900;
        font-size: 3.6rem;
        font-weight: bold;
        line-height: 40px;
        text-transform: uppercase;
        color: #162542;
        margin: 0;
    }
}


/*SMALL SCREENS */

@media screen and (min-width: 360px) {
    .gray_box_1,
    .gray_box_2 {
        display: none;
    }
    image {
        display: block;
    }
    main {
        max-width: auto;
        margin-top: 4em;
        display: grid;
        grid-template-columns: 34% 64%;
    }
    .overlay-image {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-image: url('../assets/tablet/image-phone-and-keyboard.jpg');
        height: 100%;
    }
    .overlay {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        mix-blend-mode: multiply;
        background-color: rgb(189, 69, 0);
        opacity: 0.9;
        width: 100%;
        height: 100%;
    }
    .introductory-text-2 h2 {
        margin-top: 45px;
        margin-left: 20px;
        text-align: center;
    }
    .introductory-text-2 p {
        margin-top: 30px;
        text-align: center;
    }
    .feature_text {
        text-align: center;
    }
}


/*MEDIUM SCREENS --tablet*/

@media screen and (min-width: 767px) and (max-width:1279px) {
    .gray_box_1,
    .gray_box_2 {
        display: none;
    }
    main {
        max-width: auto;
        margin-top: 2em;
        display: grid;
        /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
        grid-template-columns: 34% 64%;
        column-gap: 20px;
    }
    .overlay-image {
        border-radius: 20px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-image: url('../assets/desktop/image-phone-and-keyboard.jpg');
        height: 100%;
    }
    .overlay {
        mix-blend-mode: multiply;
        background-color: rgb(189, 69, 0);
        opacity: 0.9;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .introductory-text-2 {
        display: flex;
        flex-direction: row;
        grid-column: 1/ 3;
        justify-content: space-between;
        align-items: center;
    }
    .introductory-text-2 h2 {
        line-height: normal;
        width: 5ch;
        text-align: justify;
    }
    .introductory-text-2 p {
        width: 50ch;
        text-align: justify;
    }
    .keyboard-feature-section {
        display: grid;
        grid-template-columns: repeat(2, 334px);
        column-gap: 40px;
        margin-top: 100px;
    }
    .feature-icon-grid,
    .feature-name-grid,
    .feature-details-grid {
        justify-self: flex-start;
    }
    .feature-details-grid {
        width: 290px;
    }
    .feature-name-grid {
        width: 179px;
    }
    .bluetooth {
        width: 200px;
    }
    .feature_text {
        text-align: left;
    }
}


/*MEDIA QUERY FOR SCREENS SIZE WITH MIN-WIDTH 1280 AND ABOVE*/

@media screen and (min-width:1280px) {
    body {
        box-sizing: border-box;
        margin: 0;
    }
    .page-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
    .gray_box_1,
    .gray_box_2 {
        display: none;
    }
    /* MAIN */
    main {
        margin-top: 50px;
        display: flex;
        column-gap: 1em;
        align-items: center;
        justify-items: center;
    }
    .overlay-image {
        border-radius: 20px;
        width: 300px;
        height: 590px;
        align-self: self-start;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../assets/desktop/image-phone-and-keyboard.jpg');
    }
    .overlay {
        mix-blend-mode: multiply;
        background-color: rgb(189, 69, 0);
        opacity: 0.9;
        width: 300px;
        height: 590px;
        border-radius: 20px;
    }
    .introductory-text-2 {
        display: block;
        align-self: center;
        justify-self: center;
    }
    .introductory-text-2 p {
        text-align: left;
        justify-self: center;
    }
    .glass-keyboard-img {
        width: 54.0rem;
        border-radius: 20px;
        margin-left: 0;
    }
    /* END MAIN */
    /* FEATURES */
    .keyboard-feature-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 100px;
    }
    .feature_text {
        text-align: left;
    }
    /* END FEATURES */
}


/*MEDIA QUERY FOR SCREENS SIZE WITH MIN-WIDTH 1281 AND ABOVE*/

@media screen and (min-width:1281px) {
    body {
        box-sizing: border-box;
        margin: 0;
    }
    .page-wrapper {
        max-width: 100%;
        margin: 0 auto;
    }
    /* HERO SECTION */
    section {
        position: relative;
    }
    .left-col {
        width: fit-content;
    }
    .left-col h1 {
        width: 10ch;
    }
    .orange-cta-button {
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #F16718;
        border: none;
        border-radius: 8px;
        font-size: 1.6rem;
        padding: 1em
    }
    .gray_box_1 {
        display: flex;
        width: 12.6em;
        height: 24.0em;
        background-color: #E8EFF2;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        position: absolute;
        right: -160px;
    }
    /* END HERO */
    /* MAIN */
    main {
        margin-top: 50px;
        display: flex;
        column-gap: 10em;
        align-items: center;
        position: relative;
    }
    .overlay-image {
        border-radius: 20px;
        width: 300px;
        height: 590px;
        align-self: self-start;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../assets/desktop/image-phone-and-keyboard.jpg');
    }
    .overlay {
        width: 300px;
        height: 590px;
        border-radius: 20px;
        mix-blend-mode: multiply;
        background-color: rgb(189, 69, 0);
        opacity: 0.9;
    }
    .glass-keyboard-img {
        width: 54.0rem;
        border-radius: 20px;
        margin-left: 0;
    }
    .introductory-text-2 {
        text-align: left;
        display: block;
        align-self: center;
        justify-self: center;
        margin: 0;
    }
    .introductory-text-2 h2 {
        text-align: left;
        justify-self: center;
        margin: 0;
    }
    .introductory-text-2 p {
        text-align: left;
        justify-self: center;
    }
    .gray_box_2 {
        display: flex;
        width: 12.6em;
        height: 24.0em;
        align-self: flex-end;
        background-color: #E8EFF2;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;
        left: -160px;
    }
    /* END MAIN */
    /* FEATURES */
    /* keyboard features*/
    .keyboard-feature-section {
        display: grid;
        grid-template-columns: repeat(334px);
        column-gap: 45px;
        margin-top: 100px;
    }
    .feature-card {
        padding: 1em;
        margin-bottom: 15px;
    }
    .features {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(auto-fit, 1fr));
        justify-content: center;
    }
    .feature-icon-grid,
    .feature-name-grid,
    .feature-details-grid {
        justify-self: flex-start;
    }
    .feature-icon-grid {
        margin-bottom: 48px;
    }
    .feature-name-grid {
        width: 179px;
    }
    .feature-name-grid {
        margin-bottom: 24px;
    }
}


/*END*/