main {
    max-width: auto;
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 10px;
}

.overlay-image {
    border-radius: 20px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/desktop/image-phone-and-keyboard.jpg');
    mix-blend-mode: multiply;
    opacity: 0.75;
    height: 100%;
}

.overlay {
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.glass-keyboard-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.introductory-text-2 {
    justify-content: center;
    align-content: center;
    row-gap: 10px;
    margin-left: 30px;
}

.introductory-text-2 p {
    width: 29ch;
    text-align: left;
}

.introductory-text-2 h2 {
    width: 14ch;
    line-height: 35px;
}